@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html{
    background-color: #DB524D;
    color: white;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}

h1 {
    font-size: 20px;
}

#maintitle {
    font-size: 50px;
}

#turmanum{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    font-size: 17px;

}

#botao{
    margin-top: 25px;
    background-color: #ffffff18;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

table{
    font-size:2.5vw;
    border: 2px solid rgba(0, 0, 0, 0.055);
    border-radius: 6px;
    padding: 0;
    margin: 0;
    width: 100%;
}

#tablediv{
    margin-top: 30px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

table th{
    padding-top: 15px;
    padding-bottom: 15px;
}